<%- include('layouts/header.ejs') %>
<main class="mainframe ">
    <section class="sidenav">
        <div class="text1 "><a href="/admin">Dashboard</a></div>
        <div class="text1"><a href="/admin/products">Products</a></div>
        <div class="text1"><a href="/admin/users">Users</a></div>
        <div class="text1 "><a href="/admin/products/addproduct">Add Product</a></div>
        <div class="text1"><a href="/admin/brands">Brand</a></div>
        <div class="text1"><a href="/admin/category">Category</a></div>
        <div class="text1"><a href="/admin/rooms">Rooms</a></div>
        <div class="text1"><a href="/admin/coupon">Coupon Generator</a></div>
        <div class="text1"><a href="/admin/orders">Orders</a></div>
        <div class="text1"><a href="/admin/salesreport">Sales Report</a></div>
        <div class="text1"><a href="/admin/offer">Offers</a></div>
        <div class="text1"><a href="/admin/banner">Banners</a></div>
      </section>

<section class="maincontent">
    <div class="container">
        <div class="row">
            <div class="container ">
                <div class="row p-4 p-sm-0">
                  <div class="errorpage col-md-12">
                      <div><img src="/public/images/Screenshot_error-01-26_173957-removebg-preview.png" alt=""></div>
                      <div class="errordat"><div class="errordatimg"><img src="/public/images/LOGO Black.png" alt="" ></div><h2 class="fw-bold "> &nbsp;could not find the page you requested!!</h2></div>
                      <div class="errorrebtn"><a href="/admin">Back to Home Page</a></div>
                  </div>
                  
                </div>
            
    </div>

    </div>
    </div>              
</section>
</main>
<%- include('layouts/footer.ejs') %>
