<%- include('layouts/header.ejs') %>
<%- include('layouts/sidenav.ejs') %>


        
          <section class="maincontent">
                <div class="container">
                    <div class="row">
                        <div class="usermain p-3  col-md-12">
                        <div class="titlemain"><h2 class="fw-bold ps-4  my-3">PRODUCTS</h2><a class="pe-4  my-3" href="/admin/products/addproduct"><button type="submit">Add New Product</button></a></div>
                        <div class="container">
                            <div class="row">
                                <div class="product col-md-3">
                                    <div class="card">
                                        <a href=""><img src="/public/images/holmsund-corner-sofa-bed-orrsta-light-blue__0728013_pe735994_s5.jpg" class="card-img-top" alt="..."></a>
                                        <div class="card-body">
                                          <h5 class="card-title cardhead">HOLMSUND</h5>
                                          <div class="carddesc"><p class="card-text">corner sofa-bed</p></div>
                                          <div class="cardprice mb-4"><div><a href="">Edit</a></div><div><a href="">Delete</a></div><div><a href="">Review</a></div></div>
                                          
                                        </div>
                                      </div>
                                </div>


                            </div>
                        </div>
                        
                </div>
                </div>
                </div>              
          </section>
      </main>


      

<%- include('layouts/footer.ejs') %>
