<%- include('layouts/header.ejs') %>


      <main class="promain pb-5">
        <section class="products pt-5 pt-sm-5">
          <div class="container">
              <div class="row p-3">
                  <h2>Category</h2>
                <% if(locals.catdata) { for(let i = 0; i< locals.catdata.length ; i++) { %>

                  <div class="category col-sm-6 col-md-4 mt-4">
                      <div class="card">
                          <a href=""><img src="/assets/<%= locals.catdata[i].image %>" class="card-img-top" alt="..."></a>
                          <div class="card-body">
                            <h5 class="card-title cardhead"><%= locals.catdata[i].categoryname %></h5>
                            <div class="carddesc"><button type="button"><p class="card-text">Explore Now</p></button></div>
                            
                          </div>
                        </div>
                  </div>
                  
                  <% } } %>

              </div>
          </div>
      </section>
      </main>



      <%- include('layouts/footer.ejs') %>
