<%- include('layouts/header.ejs') , {udata:locals.udata} %>

<main class="main mb-4">
    <div class="container">
      <div class="row main-in">
    <div class="card text-center maincard col-md-8 col-12 col-lg-6 " >
        <div class="card-body mainbody">
          <h5 class="card-title mt-4 form-title">RESET PASSWORD</h5>
          <form class="form1 w-100" id="resetform" method="post" action="/resetpassword">
           
            <div class="my-5 field w-75 ">
              <input type="hidden" id="uid" name="uid" value="<%= locals.id %>">
                <input type="password" class="form-control input " placeholder="" name="newpassword" id="newpassword">
                <label for="newpassword" class="form-label label">New Password</label>
                <p class="error mb-2" id="error1" style="display: none;"></p>
              </div>
            <div class="my-5 field w-75 ">
                <input type="password" class="form-control input " placeholder="" name="confirmpassword" id="confirmpassword">
                <label for="confirmpassword" class="form-label label">Confirm Password</label>
              <p class="error mb-2" id="error2" style="display: none;"></p>
              </div>
            <input type="submit" class="logbtn mt-5 mb-3" value="Reset Password">

          </form>
        </div>
      </div>
    </div>
    </div>
  </main>
<script src="/public/js/resetpassword.js"></script>
<%- include('layouts/footer.ejs')  %>
