<%- include('layouts/header.ejs') , {udata:locals.udata} %>

<main class="promain pb-5">
    <section class="products pt-5 pt-sm-5">
      <div class="container ">
          <div class="row p-4 p-sm-0">
            <div class="errorpage col-md-12">
                <div class="errormainint"><div class="ooptext">OOPS<div class="servererr">ERROR 500 : OUR SERVER IS ON A BREAK.</div></div>
            </div>
                <div class="errorrebtn"><a href="/">Back to Home Page</a></div>
            </div>
            
          </div>
      </div>
  </section>
  </main>
<%- include('layouts/footer.ejs') %>
