<%- include('layouts/header.ejs') , {udata:locals.udata} %>


      <main class="promain pb-5">
        <section class="products pt-5 pt-sm-5">
          <div class="container ">
              <div class="row px-4  py-3 px-sm-5">
                  <div class="ordered col-md-6 m-auto">
                    <div class="card">
                        <div class="card-body successbody">
                                <img src="/public/images/2053412.png" alt="" width="150px" height="150px">
                                <h3 class="fw-normal text-center">Order Placed Successfully</h3>
                                <% if(locals.orderdata) { %>
                                <p>Order on #<%= locals.orderdata._id %> is confirmed.</p>
                                
                                <p>Payment via <%= locals.orderdata.payment_method %></p>
                                    <% } %>
                                <div class="btns"><a href="/orders"><button type="button">Go to Orders</button></a><a href="/home"><button type="button">Continue Shopping</button></a></div>
                            </div>
                        </div>
                  </div>
                  
                  

              </div>
          </div>
      </section>
      </main>




      <%- include('layouts/footer.ejs')  %>
