<%- include('layouts/header.ejs') %>
<script>
  if(window.history.replaceState)
  {
    window.history.replaceState(null,null,window.location.href)
  }
</script>
      <main class="main mb-4">
        <div class="container">
          <div class="row main-in">
        <div class="card text-center maincard col-md-8 col-12 col-lg-6 " >
            <div class="card-body mainbody">
              <h5 class="card-title form-title">OTP SIGNUP</h5>
              <% if(locals.err) { %> 
                <div class="error1 my-2 alert alert-danger "><%= locals.err  %></div>
                <% } %>

                <div class="error1 alert alert-danger" id="error1" style="display: none;"></div>
              <form method="post" action="/otpload" id="otpsign" class="form w-100">

                <input type="button" id="sendOTP" class="logbtn1 mt-4 " value="Send OTP">
                <div class="logbtn1" id="timerview" style="display: none;"></div>
                <input type="button" id="resendOTP" class="logbtn1  " style="display: none;" value="Resend OTP">

                <div class="my-4 field w-75 ">
                  <input type="text" class="form-control input " placeholder="" name="otp" id="otpbox" aria-describedby="emailHelp">
                  <label for="otpbox" class="form-label label">Enter OTP</label>
                  <p class="error " id="error2" style="display: none;"></p>
                </div>
                <input type="hidden" id="uid" name="uid" value="<%= locals.uid %>">
                
                <input type="submit" class="logbtn my-3" value="VERIFY">

              </form>
            </div>
          </div>
        </div>
        </div>
      </main>

      <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/public/js/otpsignup.js"></script>
<%- include('layouts/footer.ejs') %>
