<%- include('layouts/header.ejs') , {udata:locals.udata} %>

<main class="promain pb-5">
    <section class="products pt-5 pt-sm-5">
      <div class="container ">
          <div class="row p-4 p-sm-0">
            <div class="errorpage col-md-12">
                <div><img src="/public/images/Screenshot_error-01-26_173957-removebg-preview.png" alt=""></div>
                <div class="errordat"><div class="errordatimg"><img src="/public/images/LOGO Black.png" alt="" ></div><h2 class="fw-bold "> &nbsp;could not find the page you requested!!</h2></div>
                <div class="errorrebtn"><a href="/">Back to Home Page</a></div>
            </div>
            
          </div>
      </div>
  </section>
  </main>
  <%- include('layouts/footer.ejs')  %>
